<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Essential CSS Files -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon_finto.css" />
    <link rel="stylesheet" href="assets/css/scrollCue.css" />
    <link rel="stylesheet" href="assets/css/remixicon.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />

    <!-- Title & Favicon -->
    <title>VR ASSURANCE</title>
    <link rel="icon" type="image/png" href="/assets/images/logo/vr_logo.png" />
  </head>
  <body>
    <!-- Start Preloader Area -->
    <div
      class="preloader-area text-center position-fixed top-0 bottom-0 start-0 end-0"
      id="preloader"
    >
      <div class="loader position-absolute start-0 end-0">
        <div class="wavy position-relative fw-light">
          <span class="d-inline-block"
            ><img src="assets/images/logo/vr_logo.png" class="" alt="favicon"
          /></span>
          <span class="d-inline-block">V</span>
          <span class="d-inline-block">R</span>
          <span class="d-inline-block">&nbsp;</span>
          <span class="d-inline-block">A</span>
          <span class="d-inline-block">S</span>
          <span class="d-inline-block">S</span>
          <span class="d-inline-block">U</span>
          <span class="d-inline-block">R</span>
          <span class="d-inline-block">A</span>
          <span class="d-inline-block">N</span>
          <span class="d-inline-block">C</span>
          <span class="d-inline-block">E</span>
        </div>
      </div>
    </div>
    <!-- End Preloader Area -->

    <div class="top-header-info">
      <!-- Start Top Header Area -->
      <div class="top-header-area bg-black">
        <div class="container-fluid side-padding">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <ul class="left-side">
                <li><span>Smart Solution For Financial Needs</span></li>
                <li>
                  <a href="tel:+919072853333"
                    ><i class="flaticon-phone-call"></i> <b>Call:</b> +91 9072-85-3333</a
                  >
                </li>
                <!-- <li>
                  <a
                    href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#58303d343437183e31362c37763b3735"
                    ><i class="flaticon-email-1"></i> <b>Mail:</b>
                    <span
                      class="__cf_email__"
                      data-cfemail="2f474a4343406f4946415b40014c4042"
                      >[email&#160;protected]</span
                    ></a
                  >
                </li> -->
              </ul>
            </div>
            <div class="col-lg-4 col-md-12">
              <ul class="right-side">
                <!-- <li><a href="#">Support</a></li>
                <li><a href="#">Help</a></li> -->
                <li>
                  <div class="flag position-relative">
                    <img
                      class="rounded-circle"
                      src="assets/images/svg/flag.svg"
                      alt="image"
                    />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Header Area -->

      <!-- Start Navbar Area -->
      <nav class="navbar navbar-expand-lg bg-color-ffffff" id="navbar">
        <div class="container-fluid side-padding position-relative">
          <a class="navbar-brand logo-brand p-0" href="index.html">
            <img
              src="assets/images/logo/vr_logo.png"
              width="60px"
              alt="image"
            />
          </a>
          <a
            class="navbar-toggler"
            data-bs-toggle="offcanvas"
            href="#navbarOffcanvas"
            role="button"
            aria-controls="navbarOffcanvas"
          >
            <span class="burger-menu">
              <span class="top-bar"></span>
              <span class="middle-bar"></span>
              <span class="bottom-bar"></span>
            </span>
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item dropdown">
                <a class="nav-link" href="/index.html"> HOME </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="/about-us.html"> ABOUT US </a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  SOLUTIONS
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href=""> PHR </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Service Details </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Insurer </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Diagnostics </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Doctor Network </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> File Storage </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Hospital Network </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Lab Network </a>
                  </li>
                 

                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="/client.html"> OUR CLIENTS </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="/contact.html"> CONTACT US </a>
              </li>

              <!-- <li class="nav-item dropdown">
                <a class="nav-link" href="contact.html"> Contact </a>
              </li> -->
            </ul>
          </div>

          <div class="others-options">
            <ul class="d-flex align-items-center ps-0 mb-0 list-unstyled">
              <!-- <li>
                <button
                  type="button"
                  class="search-btn"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="ri-search-line"></i> Search
                </button>
              </li> -->
              <li>
                <a href="/account.html" class="search-btn login"
                  ><i class="ri-account-circle-line"></i> Log in</a
                >
              </li>
              <li>
                <a href="contact.html" class="default-btn"
                  >Get Started <i class="ri-arrow-right-up-line"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar Area -->
    </div>

    <!-- Start Mobile Navbar Area -->
    <div
      class="mobile-navbar offcanvas offcanvas-end border-0"
      data-bs-backdrop="static"
      tabindex="-1"
      id="navbarOffcanvas"
    >
      <div class="offcanvas-header">
        <a href="index.html" class="logo d-inline-block">
          <img src="assets/images/logo/vr_logo.png" width="50px" alt="logo" />
        </a>

        <button
          type="button"
          class="close-btn bg-transparent position-relative lh-1 p-0 border-0"
          data-bs-dismiss="offcanvas"
          aria-label="close"
        >
          <i class="ri-close-fill"></i>
        </button>
      </div>

      <div class="offcanvas-body">
        <ul class="mobile-menu">
          <li class="mobile-menu-list without-icon">
            <a href="/index.html" class="nav-link"> Home </a>
          </li>
          <li class="mobile-menu-list without-icon">
            <a href="/about-us.html" class="nav-link"> About Us </a>
          </li>
          <li class="mobile-menu-list without-icon">
            <a href="/client.html" class="nav-link"> Our Client </a>
          </li>
          <li class="mobile-menu-list without-icon">
            <a href="/contact.html" class="nav-link"> Contact </a>
          </li>
          <li class="mobile-menu-list active">
            <a href="javascript:void(0);"> Services </a>

            <ul class="mobile-menu-items">
               <li>
                    <a class="dropdown-item" href=""> PHR </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Service Details </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Insurer </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Diagnostics </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Doctor Network </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> File Storage </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Hospital Network </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href=""> Lab Network </a>
                  </li>
            </ul>
          </li>

          

          

         

          

          

        </ul>

        <!-- Others options -->
        <div class="others-options">
          <ul class="d-flex align-items-center ps-0 mb-0 list-unstyled">
            
            <li>
              <a href="/account.html" class="search-btn login"
                ><i class="ri-account-circle-line"></i> Log in</a
              >
            </li>
            <li>
              <a href="contact.html" class="default-btn"
                >Get Started <i class="ri-arrow-right-up-line"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Mobile Navbar Area -->
